body {
    background-color: #CCFFFF;
  }

#wrapper {
    width: 85%; 
    min-width:760px; 
    margin: 0 auto; 
    border:2px solid blue; 
    background-color:#FFF; 
    padding:10px 5px 0;
}

#nav {
    text-align: center;
}

.button {
    text-align: center;
    text-decoration: none;
    background-color: #990000; 
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    width: 100px;
    height: 18px; 
    padding: 15px 32px;
    border-style: solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    text-align: center; 
    color: #330066;
}

img {
    float: left;
    margin-right :20px;
}

#main h2 {
    text-align: center; 
    color: blue;
}

#main h3 {
    text-align: center; 
    letter-spacing: 5px;
}

#main #content p::first-letter {
    font-size: 3em;
    color: #990000; 
}

#footer {
    clear: both; 
    background-color: #990000; 
    text-align: center; 
    font-size: 0.75em; 
    font-weight: bold; 
    color: white;
    height: 65px;
}

#footer p {
    line-height: 65px;
}
