body {
    background-color:white;
    color: #a9a9a9;
    background-image: url("img/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
    
}

/* added shadow */
#wrapper {
    width: 80%;
    min-width: 960px;
    background-color: #90C7E3;
    box-shadow: 10px 10px 5px grey;
    margin: auto;
    height: 480px;

    
}

#leftcolumn { float: left;
    width: 100px;}

#rightcolumn { margin-left: 155px;
        background-color:#90C7E3;
        color:darkgray;
} 


#leftcolumn ul {
    padding-left: 0;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    list-style-type: none;
}

#leftcolumn ul a:link {
    text-decoration: none;
    color: #000033;
}

#leftcolumn ul a:visited {
    color: #344873;
}

#leftcolumn ul a:hover {
    color: white;
}


/* unordered list without bullet */
.ul {
    list-style-position: inside;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: #000033;
    background-image: url('img/sunset.jpg');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 0px;
    padding-left: 10px;
    line-height: 72px;
    height: 72px;
}

h2 {
    color: #3399CC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px rgb(97, 98, 99);
    margin-top: 30px;
}

h3 {
    color: #000033;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    float: left;
    margin-right: 25px;
}

.resort {
    color: #000033;
    font-weight: bold;
}



#address-size {
    font-size: 0.9rem;
}

#footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 0.75rem;
    
}
#footer1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 0.75rem;
    position: fixed;
   left: 320;
    height:2000px;
   width: 100%;
  padding-bottom: 600px;
 
    
}

#birdbanner {
    padding: 5px;
    animation: birdbanner 3s ease-in-out 1s;
    animation-fill-mode: forwards;
    position: relative;
  

}

@keyframes birdbanner {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 90%;
    }
}