body {
    background-color: lightgray;
  }

#wrapper {
    width: 95%;
    min-width: 760px;
    margin: 0 auto;
    border: 2px solid rgb(233, 232, 227);
    background-color: rgba(235, 233, 223, 0.749);
    padding: 10px 10px 0;
    height: 775px;
    box-shadow: 10px 10px 5px grey;
}



h1 {
    text-align: center;
    color: #1a191c;
    background-color: antiquewhite;
    text-shadow: 1px 1px rgb(97, 98, 99);
}

h2 {
    text-align: center;
    color: #1a191c;
    text-shadow: 1px 1px rgb(97, 98, 99);
   
}



h5 {
    text-align: center;
    color: #1a191c;

}

img {
    float: right;
    margin-right: 50px;
}

.img1 {
    float: left;
     margin-left: 50px;
}
#main h2 {
    text-align: center;
    color: rgb(233, 98, 35);
}

#main #content p::first-letter {
    font-size: 3em;
    color: #373634; 
}


#footer {
    clear: both; 
    background-color: gray; 
    text-align: center; 
    font-size: 0.75em; 
    font-weight: bold; 
    color: white;
    height: 38px;
}

#footer p {
    line-height: 50px;
}

a:hover {
    color: hotpink;
}


